@model XZMY.Manage.Model.ViewModel.Sys.VmBranchEdit
@{
    Layout = "~/Views/Shared/_Layout456.cshtml";
    ViewBag.Title = "创建/编辑";
}
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/home/index">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="module">客户管理</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="action">编辑客户</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <span style="font-size: 25px;color: #000">基础信息</span>
                </div>
                <div class="actions">
                    @if (Model.DataId != Guid.Empty)
                    {
                        <a class="btn btn-default" href="/Branch/Details/@Model.DataId">
                            <i class="fa fa-eye"></i> 详细
                        </a>
                    }
                    <a class="btn btn-default" href="/Branch/list">
                        <i class="fa fa-list-ul"></i> 返回列表
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="defaultForm" class="form-horizontal" method="post" novalidate="novalidate">
                    @Html.HiddenFor(x => x.DataId)
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">名称</label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.TextBoxFor(x => x.Name, new { @maxlength = "50", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">状态</label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <div class="mt-radio-inline">
                                                <label class="mt-radio mt-radio-outline">
                                                    <input type="radio" name="State" id="State1" value="1" @(Model.State.GetHashCode() == 1 ? "checked" : "")> 启用
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-outline">
                                                    <input type="radio" name="State" id="State2" value="2" @(Model.State.GetHashCode() == 2 ? "checked" : "")> 禁用
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">发件人</label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.TextBoxFor(x => x.FromEmail, new { @maxlength = "50", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">收件人</label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.TextBoxFor(x => x.ToEmail, new { @maxlength = "50", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">特征值</label>
                                    <div class="col-md-10">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.TextBoxFor(x => x.Value, new { @maxlength = "500", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">保存</button>
                                <button type="reset" class="btn default">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
@section JavaScript{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var form1 = $('#defaultForm');
            var hfId = $('#Id');
            var error1 = $('.alert-error', form1);
            var success1 = $('.alert-success', form1);
            var isRequired = hfId.val() == '00000000-0000-0000-0000-000000000000';

            $("input[name='State'][value=@Model.State.GetHashCode()]").attr("checked", true);

            form1.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                    Name: { required: true, remote: { url: '/Branch/AjaxIsExist/@Model.DataId', message: '已存在' } }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    var icon = $(element).parent('.input-icon').children('i');
                    icon.removeClass('fa-check').addClass("fa-warning");
                    icon.attr("data-original-title", error.text()).tooltip({ 'container': 'body' });
                },

                highlight: function (element) { // hightlight error inputs
                    $(element).closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight

                },

                success: function (label, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    icon.removeClass("fa-warning").addClass("fa-check");
                },

                submitHandler: function (form) {
                    //success1.show();
                    //error1.hide();
                    //form1.submit();

                    var data = form1.serializeObject();
                    $.ajax({
                        type: 'POST',
                        url: '/Branch/AjaxEdit',
                        data: data,
                        dataType: 'JSON',
                        success: function (result) {
                            if (result.success)
                                location.replace('/Branch/details/' + result.Id);
                            else {
                                showToast(3, '系统消息', result.message);//错误信息
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            showToast(3, '系统消息', JSON.stringify(errorThrown));//错误信息
                        },
                        async: false
                    });
                }
            });
        });
    </script>
}