
@model XZMY.Manage.Model.ViewModel.SiteSetting.VmEnglishScoreDefault
@{
    Layout = "~/Views/Shared/_Layout456.cshtml";
    ViewBag.Title = "创建/编辑";
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/home/index">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="/DataDictionary/Index/">系统参数设置</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="action">年级排名</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <span style="font-size: 25px;color: #000">基础信息</span>
                </div>
                <div class="actions">
                    <a class="btn btn-default" href="/GradeRanking/List">
                        <i class="fa fa-list-ul"></i> 返回列表
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="defaultForm" class="form-horizontal" method="post" novalidate="novalidate">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">选择年级</label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <select class = "form-control" id="PlanningNoteId" name="PlanningNoteId" required>
                                                <option value="" nsort="0" >请选择</option>
                                            </select>
                                            @Html.HiddenFor(x => x.DataId)
                                            @Html.HiddenFor(x => x.GradeName)
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">年级排名</label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <select class = "form-control" id="GradeRankingId" name="GradeRankingId" required>
                                                <option value="">请选择</option>
                                            </select>
                                            @Html.HiddenFor(x => x.GradeRankingName)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">英语分值</label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.TextBoxFor(x=> x.EnglishScore, new {  @class = "form-control", @placeholder = "数字，不能为空" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">排序编号</label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.TextBoxFor(x => x.Sort, new { @class = "form-control", @readonly= "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">保存</button>
                                <button type="reset" class="btn default">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
@section JavaScript{
    <script type="text/javascript">

        var BingdllSelect = function() {
            $.getJSON('/EnglishScoreDefault/AjaxGradeRanking', {}, function (data) {
              
                appendOption(data.list, '#GradeRankingId', '@Model.GradeRankingId');
            });
            $.getJSON('/EnglishScoreDefault/AjaxPlanningNote', {}, function (data) {
                //alert("AjaxPlanningNote:" + data.list.length);
                var selectValue = '@Model.PlanningNoteId';
                $.each(data.list, function (i, item) {
                    if (selectValue && item.Id == selectValue) {
                        $("<option nsort=\"" + item.Sort + "\" selected></option>").val(item.Id).text(item.Name).appendTo($('#PlanningNoteId'));
                    }
                    else {
                        $("<option nsort=\"" + item.Sort + "\"></option>").val(item.Id).text(item.Name).appendTo($('#PlanningNoteId'));
                    }
                });
            });
        }

        jQuery(document).ready(function () {
            var form1 = $('#defaultForm');
            var error1 = $('.alert-error', form1);
            var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                    EnglishScore: { required: true, number: true },
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    var icon = $(element).parent('.input-icon').children('i');
                    icon.removeClass('fa-check').addClass("fa-warning");
                    icon.attr("data-original-title", error.text()).tooltip({ 'container': 'body' });
                },
                highlight: function (element) { // hightlight error inputs
                    $(element).closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight

                },

                success: function (label, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    icon.removeClass("fa-warning").addClass("fa-check");
                },

                submitHandler: function (form) {
                    var data = form1.serializeObject();
                    $.ajax({
                        type: 'POST',
                        url: '/EnglishScoreDefault/AjaxEdit',
                        data: data,
                        dataType: 'JSON',
                        success: function (result) {
                            if (result.success) {
                                location.replace('/EnglishScoreDefault/List/');
                            } else {
                                bootbox.alert(result.errors);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            showToast(3, '系统消息', JSON.stringify(errorThrown));//错误信息
                        },
                        async: false
                    });
                }
            });

            $("#PlanningNoteId").change(function () {
                $("#defaultForm #Sort").val($("#PlanningNoteId option:selected").attr("nsort"));
                
                if ($(this).val())
                {
                    $("#GradeName").val($("#PlanningNoteId option:selected").text());
                }
            });
            $("#GradeRankingId").change(function () {
                if ($(this).val()) {
                    $("#GradeRankingName").val($("#GradeRankingId option:selected").text());
                }
            });

            BingdllSelect();
        });



    </script>

}


        

