@using XZMY.Manage.Model.Enum
@model XZMY.Manage.Model.ViewModel.Order.VmOrderProject
@{
    Layout = "~/Views/Shared/_Layout456.cshtml";
    ViewBag.Title = "创建/编辑";
}
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/home/index">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="module">订单管理</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="action">活动订单详细</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title">
                <div class="captin">
                    <span style="font-size: 25px;color: #000">活动信息</span>
                </div>
                <div class="actions">
                    @if (Model.DataId != Guid.Empty)
                    {
                        <a class="btn btn-default" href="/OrderProject/Details/@Model.DataId">
                            <i class="fa fa-pencil"></i> 详细
                        </a>
                    }
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="defaultForm" class="form-horizontal" method="post" novalidate="novalidate">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">活动名称：</label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <select id="selectProject" name="selectProject" class="form-control">
                                                <option value="">请选择</option>
                                            </select>
                                            <input type="hidden" id="hfProjectId" name="ProjectId" />
                                            <input type="hidden" id="hfProjectName" name="ProjectName" />
                                            @Html.HiddenFor(x => x.BeginDate)
                                            @Html.HiddenFor(x => x.EndDate)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">活动编号：</label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <span class="form-control-static" id="lblCode"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">开始时间：</label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <span class="form-control-static" id="lblBeginDate"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">结束时间：</label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <span class="form-control-static" id="lblEndDate"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.EnrollType == EOrderEnrollType.代报名)
                        {
                        <h3 class="form-section">代理商信息</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">代报名类型：</label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <div class="mt-radio-inline">
                                                <label class="mt-radio mt-radio-outline">
                                                    <input type="radio" name="AgentType" id="State1" value="1" checked> 代理商
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-outline">
                                                    <input type="radio" name="AgentType" id="State2" value="2"> 家长
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-outline">
                                                    <input type="radio" name="AgentType" id="State3" value="3"> 学生
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="agent_div">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">代理商：</label>
                                        <div class="col-md-9">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <select id="selectAgent" name="selectAgent" class="form-control">
                                                    <option value="">请选择</option>
                                                </select>
                                                <input type="hidden" id="hfAgentId" name="AgentId" />
                                                <input type="hidden" id="hfAgentName" name="AgentName" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">联系人：</label>
                                        <div class="col-md-9">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <span class="form-control-static" id="lblContactName"></span>
                                                <input type="hidden" id="hfContactName" name="ContactName" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">地址：</label>
                                        <div class="col-md-9">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <span class="form-control-static" id="lblAddress"></span>
                                                <input type="hidden" id="hfAddress" name="Address" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">电话：</label>
                                        <div class="col-md-9">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <span class="form-control-static" id="lblMobile"></span>
                                                <input type="hidden" id="hfContactMobile" name="ContactMobile" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>

                    <h3 class="form-section">报名信息（报名表）</h3>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">姓名</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @Html.TextBoxFor(x => x.RealName, new { @maxlength = "50", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">身份证号码</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @Html.TextBoxFor(x => x.IdentityCard, new { @maxlength = "30", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">手机号</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @Html.TextBoxFor(x => x.Mobile, new { @maxlength = "20", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">邮箱</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @Html.TextBoxFor(x => x.Email, new { @maxlength = "30", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">所在地区</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @Html.TextBoxFor(x => x.LocationPathName, new { @maxlength = "50", @class = "form-control" })
                                        @Html.HiddenFor(x => x.LocationId)
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>

                    @*<h3 class="form-section">支付信息</h3>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">支付状态</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <div class="mt-radio-inline">
                                            <label class="mt-radio mt-radio-outline">
                                                <input type="radio" name="IsPayCompletion" id="IsPayCompletion1" value="1" checked> 已支付
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-outline">
                                                <input type="radio" name="IsPayCompletion" id="IsPayCompletion2" value="2"> 未支付
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">保存</button>
                                <button type="reset" class="btn default">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
@section JavaScript{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var form1 = $('#defaultForm');
            var error1 = $('.alert-error', form1);
            var success1 = $('.alert-success', form1);
            var agentData = null, projectData = null;

            //$("input[name='AgentType'][value=@Model.AgentType.GetHashCode()]").attr("checked", true);
            //$("input[name='AgentType'][value=@Model.IsPayCompletion.GetHashCode()]").attr("checked", true);

            $('input[name="AgentType"]').click(function (v) {
                if ($(this).val() != 1) $('#agent_div').hide(200);
                else $('#agent_div').show(200);
            });

            form1.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                    LoginName: { required: true, remote: { url: '/UserAccount/AjaxIsExist/@Model.DataId', message: '已存在' } },
                    RealName: { minlength: 1, required: true },
                    Email: { minlength: 1, required: true },
                    Mobile: { minlength: 1, required: true },
                    LocationPathName: { minlength: 1, required: true },

                    selectProject: { minlength: 1, required: true }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    var icon = $(element).parent('.input-icon').children('i');
                    icon.removeClass('fa-check').addClass("fa-warning");
                    icon.attr("data-original-title", error.text()).tooltip({ 'container': 'body' });
                },

                highlight: function (element) { // hightlight error inputs
                    $(element).closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight

                },

                success: function (label, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    icon.removeClass("fa-warning").addClass("fa-check");
                },

                submitHandler: function (form) {
                    //success1.show();
                    //error1.hide();
                    //form1.submit();

                    var data = form1.serializeObject();
                    $.ajax({
                        type: 'POST',
                        url: '/OrderProject/AjaxEdit',
                        data: data,
                        dataType: 'JSON',
                        success: function (result) {
                            if (result.success)
                                location.replace('/OrderProject/details/' + result.Id);
                            else {
                                showToast(3, '系统消息', result.message);//错误信息
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            showToast(3, '系统消息', JSON.stringify(errorThrown));//错误信息
                        },
                        async: false
                    });
                }
            });

            var bindDataDictionary = function () {
                $.getJSON('/Content/Custom/DataDictionary.ashx', { action: 'GetGetCatagory', Key: 'AgentLevel,AgentNature,AgentCategory' }, function (data) {
                    appendOption(data.AgentLevel, '#LevelId');
                    appendOption(data.AgentCategory, '#CategoryId');
                    appendOption(data.AgentNature, '#NatureId');
                });
            };

            var bindProject = function () {
                //$('#selectProject').select2({ allowClear: true });

                $.getJSON('/OrderProject/AjaxProjectList/', function (data) {
                    //console.log(JSON.stringify(data));
                    projectData = data.rows;
                    appendOption(projectData, '#selectProject');
                });

                $('#selectProject').change(function () {
                    var option = $(this);
                    //console.log(option.val());
                    //console.log(JSON.stringify(projectData));
                    $.each(projectData, function (i, item) {
                        if (item.Id == option.val()) {
                            $('#lblCode').text(item.Code);
                            $('#hfProjectId').val(item.RowId);
                            $('#hfProjectName').val(item.ProjectName);
                            $('#BeginDate').val(item.BeginDate);
                            $('#EndDate').val(item.EndDate);
                            $('#lblBeginDate').text(item.BeginDate);
                            $('#lblEndDate').text(item.EndDate);
                        }
                    });
                });
            };

            var bindAgent = function () {
                //$('#selectAgent').select2({ allowClear: true });

                $.getJSON('/OrderProject/AjaxAgentList/', function (data) {
                    //console.log(JSON.stringify(data));
                    agentData = data.rows;
                    appendOption(agentData, '#selectAgent');
                });

                $('#selectAgent').change(function () {
                    var option = $(this);
                    //console.log(option.val());

                    $.each(agentData, function (i, item) {
                        if (item.Id == option.val()) {
                            $('#hfAgentId').val(item.Id);
                            $('#hfAgentName').val(item.Name);
                            $('#lblContactName').text(item.ContactName);
                            $('#hfContactName').val(item.ContactName);
                            $('#lblAddress').text(item.Address);
                            $('#hfAddress').val(item.Address);
                            $('#lblMobile').text(item.Mobile);
                            $('#hfContactMobile').val(item.Mobile);
                        }
                    });
                });
            };

            bindDataDictionary();
            bindAgent();
            bindProject();
        });
    </script>
}