@using XZMY.Manage.Model.DataModel.Assessment
@using XZMY.Manage.Model.DataModel.SiteSetting
@using XZMY.Manage.Web.Controllers.Assessment
@model XZMY.Manage.Model.ViewModel.Assessment.VmAssessmentQuestion
@{
    Layout = "~/Views/Shared/_Layout456.cshtml";
    ViewBag.Title = "创建/编辑";
}
@section Style{
    @*<link href="~/Content/Metronic4.5.6/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Metronic4.5.6/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />*@
}
<script src="/Content/Custom/UEditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
<script src="/Content/Custom/UEditor/ueditor.all.js" type="text/javascript" charset="utf-8"> </script>
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/home/index">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="module">评估中心</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="action">编辑问题</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <span style="font-size: 25px; color: #000">问题</span>
                </div>
                <div class="actions">
                    @if (Model.DataId != Guid.Empty)
                    {
                        <a class="btn btn-default" href="/Assessment/Details/@Model.DataId">
                            <i class="fa fa-eye"></i> 详细
                        </a>
                    }
                    <a class="btn btn-default" href="/Assessment/List">
                        <i class="fa fa-list-ul"></i> 返回列表
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="defaultForm" class="form-horizontal" method="post" novalidate="novalidate">
                    <div class="form-body">
                        @Html.HiddenFor(x => x.Description)
                        @Html.HiddenFor(x => x.DataId)

                        <div class="row">
                            <div class="form-group ">
                                <label for="form_control_1" class="col-md-2 control-label">试卷</label>
                                <div class="col-md-10">
                                    @*<div class="input-group has-success">*@
                                    @{
                                        AssessmentTestPaperController bllTestPaper = new AssessmentTestPaperController();
                                        int TotalCount = 0;
                                        var listTest = bllTestPaper.GetList(new XZMY.Manage.Model.ViewModel.Assessment.VmAssessment() { State = XZMY.Manage.Model.Enum.EState.启用 }, out TotalCount);
                                    }
                                    <select class="form-control input-inline" name="AssessmentId" id="AssessmentId">
                                        @foreach (var m in listTest)
                                        {
                                            if (m.Id == Model.AssessmentId)
                                            {
                                                <option value="@m.Id" selected="selected">@m.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@m.Id">@m.Name</option>
                                            }
                                        }
                                    </select>

                                    <div class="form-control-focus"> </div>
                                    @*</div>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group ">
                                <label for="form_control_1" class="col-md-2 control-label">内容</label>
                                <div class="col-md-10">
                                    <div class="input-group has-success">

                                        <script id="editorDescription" type="text/plain" style="width: 100%; height: 300px;">
                                            @Html.Raw(Model.Description)
                                        </script>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <h3 class="form-section">答案</h3>

                        <div id="items">
                            <input type="hidden" id="hfAnswerCount" name="AnswerCount" value="@ViewBag.AnswerCount" />
                            @if (ViewBag.AnswerList != null)
                            {
                                var answersList = ViewBag.AnswerList as List<AssessmentAnswers>;
                                var sourceList = (ViewBag.AnswerSourceList as List<Scores>);
                                var startDiv = "<div class=\"row\">";
                                var endDiv = "</div>";
                                for (int i = 0; i < answersList.Count; i++)
                                {
                                    var entity = answersList[i];
                                    var index = i + 1;

                                    if (i != 0)
                                    {
                                        <h3 class="form-section"></h3>
                                    }

                                    <div class="row" index="@(index)">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="txtDescription@(i)">答案@(index) 描述</label>
                                                <div class="col-md-9">
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input id="Description@(index)" name="Description@(index)" type="hidden" value="@entity.Description" />
                                                        <script id="editorDescription@(index)" type="text/plain" style="width: 100%; height: 300px;">
                                                            @Html.Raw(entity.Description)
                                                        </script>
                                                        <input type="hidden" name="AnswerId@(index)" value="@entity.Id" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    var answerSourceList = sourceList.Where(x => x.SourceId == entity.Id).OrderBy(x => x.ScoreItemsName).ToList();
                                    for (int j = 0; j < answerSourceList.Count(); j++)
                                    {
                                        var source = answerSourceList[j];
                                        var flag = j % 2 == 0;
                                        if (flag)
                                        {
                                            @Html.Raw(startDiv)
                                        }

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="txtScoreValue@(i+1)_@source.Id">@source.ScoreItemsName </label>
                                                <div class="col-md-9">
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input type="text" id="txtScoreValue@(i+1)_@source.Id" name="txtScoreValue@(index)" value="@source.ScoreValue.ToString("N2")" onkeyup="inputFloat(this)" maxlength="7" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        if (!flag)
                                        {
                                            @Html.Raw(endDiv)
                                        }
                                    }
                                }
                            }
                        </div>

                        <div class="row-fluid" style="text-align: right">
                            <a class="btn btn-default add" href="javascript:void(0);">添加</a>
                            <h1></h1>
                        </div>

                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">保存</button>
                                <button type="reset" class="btn default">重置</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div id="score-content" class="row" style="display: none">
                    <div class="row">
                        <div class="col-md-6" index="__INDEX__">
                            <div class="form-group">
                                <label class="control-label col-md-3" for="txtDescription__INDEX__">答案__INDEX__ 描述</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input id="Description__INDEX__" name="Description__INDEX__" type="hidden" value="" />
                                        <script id="editorDescription__INDEX__" type="text/plain" style="width: 100%; height: 300px;">
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="score-item" class="row" style="display: none">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" for="txtScoreValue__INDEX_____Id__">__NAME__</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" id="txtScoreValue__INDEX_____Id__" name="txtScoreValue__INDEX__" value="0" onkeyup="inputFloat(this)" maxlength="7" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>

@section JavaScript{

    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script src="/Content/Custom/UEditor/lang/zh-cn/zh-cn.js" type="text/javascript" charset="utf-8"></script>

    @*<script src="~/Content/Metronic4.5.6/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
        <script src="~/Content/Metronic4.5.6/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
        <script src="~/Content/Metronic4.5.6/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>*@


    @if (ViewBag.AnswerList != null)
    {
        var answersList = ViewBag.AnswerList as List<AssessmentAnswers>;
        var sourceList = (ViewBag.AnswerSourceList as List<Scores>);
        //var startDiv = "<div class=\"row\">";
        //var endDiv = "</div>";
        for (int i = 0; i < answersList.Count; i++)
        {
            //var entity = answersList[i];
            var index = i + 1;

            <script type="text/javascript">
                var ue@(index)ue = UE.getEditor('editorDescription@(index)', {
                    //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
                    toolbars: [['fullscreen', 'source', '|', 'undo', 'redo', '|',
                        'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
                        'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                        'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
                        'directionalityltr', 'directionalityrtl', 'indent', '|',
                        'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
                        'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
                        'simpleupload', 'insertimage', 'emotion', 'scrawl', 'attachment', 'insertframe', 'insertcode', 'pagebreak', 'template', '|',
                        'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',
                        'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', '|',
                        'print', 'preview', 'searchreplace', 'drafts', 'help'
                    ]],
                    initialFrameHeight: 200
                });
            </script>
        }
    }

    <script type="text/javascript">

        jQuery(document).ready(function () {
            var form1 = $('#defaultForm');
            var items = $('#items');
            var answerCount = $('#hfAnswerCount');
            var scoreItem = $('#score-item');
            var scoreContent = $('#score-content');
            var scoreItemHtml = '';
            var index = 1;
            
            if($("#hfAnswerCount").val()!="" && $("#hfAnswerCount").val() != 0)
                index = parseInt($("#hfAnswerCount").val());

            form1.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                    //Description: { minlength: 1, required: true }
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    var icon = $(element).parent('.input-icon').children('i');
                    icon.removeClass('fa-check').addClass("fa-warning");
                    icon.attr("data-original-title", error.text()).tooltip({ 'container': 'body' });
                },

                highlight: function (element) { // hightlight error inputs
                    $(element).closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight

                },

                success: function (label, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    icon.removeClass("fa-warning").addClass("fa-check");
                },

                submitHandler: function (form) {
                    //success1.show();
                    //error1.hide();
                    //form1.submit();

                    $("#Description").val(UE.getEditor('editorDescription').getContent());
                    for(var oi=1;oi<$('div[index]').length;oi++)
                    {
                        $("#Description"+oi).val(UE.getEditor('editorDescription'+oi).getContent());
                    }
                    answerCount.val($('div[index]').length - 1);
                    var data = form1.serializeObject();

                    $.ajax({
                        type: 'POST',
                        url: '/Assessment/AjaxEdit/',
                        data: data,
                        dataType: 'JSON',
                        success: function (result) {
                            if (result.success)
                                location.replace('/Assessment/details/' + result.Id);
                            else showToast(3, '系统消息', result.message);//错误信息
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            showToast(3, '系统消息', JSON.stringify(errorThrown));//错误信息
                        },
                        async: false
                    });
                }
            });

            var bindItems = function () {

                $.ajax({
                    type: 'POST',
                    url: '/Assessment/AjaxScoreItemList',
                    dataType: 'JSON',
                    success: function (result) {
                        if (result.success) {
                            var itemList = [];
                            
                            $.each(result.rows, function(i, item) {

                                var flag = i % 2 == 0;
                                if (flag) itemList.push('<div class="row">');

                                itemList.push(scoreItem.html()
                                    .replace(/__Id__/ig, item.Id)
                                    .replace(/__NAME__/ig, item.Name)
                                    .replace(/__CODE__/ig, item.Code));

                                if (!flag) itemList.push('</div>');
                            });

                            scoreItemHtml = scoreContent.html() + itemList.join('');

                            var html = scoreItemHtml.replace(/__INDEX__/ig, index);

                            if (answerCount.val() == 0){
                                items.append(html);
                                //第一个答案的编辑器
                                var ueAnswer = UE.getEditor('editorDescription1', {
                                    //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
                                    toolbars: [['fullscreen', 'source', '|', 'undo', 'redo', '|',
                                        'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
                                        'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                                        'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
                                        'directionalityltr', 'directionalityrtl', 'indent', '|',
                                        'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
                                        'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
                                        'simpleupload', 'insertimage', 'emotion', 'scrawl', 'attachment', 'insertframe', 'insertcode', 'pagebreak', 'template', '|',
                                        'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',
                                        'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', '|',
                                        'print', 'preview', 'searchreplace', 'drafts', 'help'
                                    ]],
                                    initialFrameHeight: 200
                                });
                            }
                               
                        } else {
                            showToast(3, '系统消息', result.message);//错误信息
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        showToast(3, '系统消息', JSON.stringify(errorThrown));//错误信息
                    },
                    async: false
                });
            };

            bindItems();

            $('.add').click(function () {
                index++;
                //var DOM_ScoreItem = $(scoreItemHtml.replace(/__INDEX__/ig, index));

                var dom_itemDiv = $("<div class=\"del_"+index+"\"></div>")
                dom_itemDiv.append('<h3 class="form-section"></h3>' + scoreItemHtml.replace(/__INDEX__/ig, index));

                var del_BtnDom = $("<div class=\"row-fluid\" style=\"text-align: right\"><a class=\"btn btn-default del\" href=\"javascript:void(0);\" d-index=\"del_"+index+"\">删除</a><h1></h1></div>");
                $(".del",del_BtnDom).click(function(){
                    var pDivClass ="."+$(this).attr("d-index")
                    $(pDivClass,items).remove();
                });
                dom_itemDiv.append(del_BtnDom);
                items.append(dom_itemDiv);
                //items.append('<h3 class="form-section"></h3>' + scoreItemHtml.replace(/__INDEX__/ig, index));

                var ue = UE.getEditor('editorDescription' + index, {
                    //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
                    toolbars: [['fullscreen', 'source', '|', 'undo', 'redo', '|',
                        'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
                        'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                        'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
                        'directionalityltr', 'directionalityrtl', 'indent', '|',
                        'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
                        'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
                        'simpleupload', 'insertimage', 'emotion', 'scrawl', 'attachment', 'insertframe', 'insertcode', 'pagebreak', 'template', '|',
                        'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',
                        'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', '|',
                        'print', 'preview', 'searchreplace', 'drafts', 'help'
                    ]],
                    initialFrameHeight: 200
                });
            });

            //加载上传图片按钮
            //$("#btnalbum").InitUploader({
            //    btntext: "批量上传",
            //    multiple: true,
            //    water: false,
            //    thumbnail: false,
            //    NoUrl: true,
            //    sendurl: "/UploadCode/ajax.ashx"
            //});
            //加载图片
            //ShowImageList();

            //var ue = UE.getEditor('editorDescription');
            var ue = UE.getEditor('editorDescription', {
                //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
                toolbars: [['fullscreen', 'source', '|', 'undo', 'redo', '|',
			        'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
			        'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
			        'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
			        'directionalityltr', 'directionalityrtl', 'indent', '|',
			        'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
			        'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
			        'simpleupload', 'insertimage', 'emotion', 'scrawl', 'attachment', 'insertframe', 'insertcode', 'pagebreak', 'template', '|',
			        'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',
			        'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', '|',
			        'print', 'preview', 'searchreplace', 'drafts', 'help'
                ]],
                initialFrameHeight: 300
            });

            
            //$('#edui2').

            //$('#summernote_1').summernote({ height: 300 });
        });
    </script>
}