
@model XZMY.Manage.Model.ViewModel.Sys.VmDataDictionaryIndex
@{
    Layout = "~/Views/Shared/_Layout456.cshtml";
    ViewBag.Title = "创建/编辑";
}
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/home/index">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="module">系统配置</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span id="action">系统配置</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light bordered" id="form_wizard_1">
            
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="defaultForm" class="form-horizontal" method="post" novalidate="novalidate">
                   
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">初始化数据：</label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <span class="form-control-static">
                                                <a href="#">点击初始化</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3"></label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <span class="form-control-static"> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="form-section">微信 access_token 信息</h3>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-2">access_token：</label>
                                    <div class="col-md-10">
                                        <div class="input-icon right">
                                            <span class="form-control-static">
                                                @Model.AccessToken
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-2">过期时间：</label>
                                    <div class="col-md-10">
                                        <div class="input-icon right">
                                            <span class="form-control-static">
                                                @Model.AccessTokenExpired
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 class="form-section">数据库管理</h3>
                        <div class="row">
                            @{
                                if (Model.BranchList != null && Model.BranchList.Count > 0)
                                {
                                    for (int i = 0; i < Model.BranchList.Count; i++)
                                    {
                                        var item = Model.BranchList[i];
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">@item.Name</label>
                                                <div class="col-md-9">
                                                    <div class="input-icon right">
                                                        <span class="form-control-static">
                                                            <a onclick="clearData('@item.DataId', '@item.Name')" href="javascript:void(0)">清除数据</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>



                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
@section JavaScript{
    <script>
        var clearData = function (id, name) {
            var name = '【' + name + '】'
            bootbox.confirm("确定清除" + name + "数据吗？清除后请等待下次数据同步成功后才能有可用数据。", function (result) {
                if (!result) return;

                $.ajax({
                    type: 'POST',
                    url: '/Branch/Delete',
                    data: { id: id },
                    dataType: 'JSON',
                    success: function (result) {
                        if (result.success) {
                            if (result.count > 0) {
                                showToast(0, '系统消息', '操作成功，' + name + result.count + '条数据已删除');
                            } else {
                                showToast(0, '系统消息', '操作成功，' + name + '已没有数据');
                            }
                        } else {
                            //showToast(3, '系统消息', result.message);//错误信息

                            showToast(0, '系统消息', '操作成功，' + name + '已没有数据');
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        showToast(3, '系统消息', JSON.stringify(errorThrown));//错误信息
                    },
                    async: false
                });
            });
        }
    </script>
}